@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0; /* Black text */
  --background-rgb: 255, 255, 255; /* White background */
  --accent-color: #D83B36; /* Accent color */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb)); /* Use background-color for a solid color */
  font-family: 'Poppins', sans-serif; /* Apply Poppins font */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White text */
    --background-rgb: 0, 0, 0; /* Black background */
    /* Keep the accent color the same or change it for dark mode if desired */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .accent-color {
    color: var(--accent-color);
  }

  .accent-bg {
    background-color: var(--accent-color);
  }

  .border-accent {
    border-color: var(--accent-color);
  }
}


